<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>VestesAi</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
  </head>
  <body>
    <header id="home">
      <!-- navbar -->
      <nav id="nav">
        <div class="nav-center">
          <!-- nav header -->
          <div class="nav-header">
            <img src="{{url_for('static', filename='vestes_2.png')}}"  style="display: none;" class="logo" alt="logo" />
            <ul class="links">
              <li>
                <a style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; " href="#home" class="scroll-link">VestesAI</a>           
              </li>
            </ul>         
            <button style="display:none" class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!-- links -->        
        </div>
      </nav>
       <!-- video -->
      <video controls muted autoplay loop class="video-container">
        <source src="{{url_for('static', filename='video.mp4')}}" type="video/mp4" />
      </video>
      <!-- banner -->
      <div class="banner">
        <div class="container" style="margin-bottom: 300px;">
            <div class="d-flex justify-content-center">
                <img style="margin-left: auto;margin-right: auto;width: 60%;margin-bottom: 30px;border-radius : 45px;border: 5px solid white;padding: 5px;" src="{{ url_for('static', filename=path) }}" alt="capture">
            </div>
          <h1>İşlem Başarılı</h1>
          <p>
           VestesAI yaşınıza ve cinsiyetinize uygun gözlüğü buldu inceleye tıklayarak bakabilirsiniz.
          </p>
          <a href="#featuress" class="btn btn-white" >İncele</a>
          <a href="{{ url_for('root') }}" class="btn btn-white" role="button">Yeni Fotoğraf Çek</a>
        </div>
      </div>
       <!-- video switch -->
       <button class="switch-btn">
        <span>
          Oynat
        </span>
        <span>
          Durdur
        </span>
        <span class="switch"></span>
      </button>
    </header>
   <!-- features -->
   <section id="features" class="section">
    <div class="container">
      <div class="title">
        <h2>ÖZELLİKLER </h2>
        <div class="underline"></div>
        <hr class="new5">
        <h4 class="text-muted section-subheading mt-3">Ürünümüzün Öne Çıkan Tarafları</h4>
      </div>
      <div class="row text-center mt-4">
          <div class="col-md-4 "><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-camera fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading mt-4 font-weight-bold">Yapay Zeka</h4>
              <p class="text-muted">Yapay zeka destekli modeller ile sizin yüz şeklinize göre en uygun  gözlüğü bulalım</p>
          </div>
          <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-hourglass-start fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading mt-4 font-weight-bold">Zamandan Kazanç</h4>
              <p class="text-muted">Tek tek gözlük denemektense tek bir fotoğraf ile binlerce gözlüğü deneyin.</p>
          </div>
          <div id="featuress"   class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i></span>
              <h4 class=" section-heading mt-4 font-weight-bold">Ücretsiz Deneyin</h4>
              <p class="text-muted">Anlaşmalı olduğumuz mağazalarda ücretsiz deneme fırsatı.</p>
          </div>
      </div>
  </div>
 
  </section>
     <!-- contact -->
     <section  id="product" class="section">
      <div class="title">
        <h2 style="margin-top: 40px;">İşlem <span>Başarılı</span></h2>
        <div class="underline"></div>
        <h3 style="text-align: center; margin-top: 20px;">
            Yüz Şekliniz:<span> {{ faceShape }}</span>
        </h3>
        <h3 style="text-align: center; margin-top: 20px;">
            Cinsiyetiniz:<span> {{gander}}</span>
        </h3>
        <h3 style="text-align: center; margin-top: 20px;">
            Yaş Aralığı:<span> {{age}}</span>
        </h3>
        <h3 style="text-align: center; margin-top: 20px;">
            Saç Rengi:<span> {{hairColor}}</span>
        </h3>
      </div>
      <div >
        <div class="container" style="text-align: center">
          <img style="width:400px; display: block; margin: 0 auto;" src="{{url_for('static',filename=photo)}}">
          <h4 style="padding: 10px;">
            Size en uygun gözlüğü bulmak için tıklayın.
          </h4>
          <a style="background-color: rgb(7, 78, 160);" href="{{link}}" target="_blank" class=" btn btn-white">İncele</a>
        </div>
      </div>
    </section>
    <!-- footer -->
    <footer class="section">
      <p>
        copyright &copy; VestesAI
        <span id="date"></span>. bütün hakları saklıdır.
      </p>
    </footer>   
    <a class="top-link" href="#home">
      <i class="fas fa-arrow-up"></i>
    </a>  
    <!-- javascript -->
    <script src="{{ url_for('static',filename='app.js') }}"></script>
  </body>
</html>
