<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>VestesAi</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
  </head>
  <body>
    <header id="home">
      <!-- navbar -->
      <nav id="nav">
        <div class="nav-center">
          <!-- nav header -->
          <div class="nav-header">
            <img src="{{url_for('static', filename='vestes_2.png')}}"  style="display: none;" class="logo" alt="logo" />
            <ul class="links">
              <li>
                <a style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; " href="#home" class="scroll-link">VestesAI</a>           
              </li>
            </ul>         
            <button style="display:none" class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!-- links -->        
        </div>
      </nav>
       <!-- video -->
      <video controls muted autoplay loop class="video-container">
        <source src="{{url_for('static', filename='video.mp4')}}" type="video/mp4" />
      </video>
      <!-- banner -->
      <div class="banner" >
        <div class="container" style="margin-bottom: 300px;">
          <img style="margin-left: auto;margin-right: auto;width: 60%;margin-bottom: 30px;border-radius : 45px;border: 5px solid white;padding: 5px;" src="{{ url_for('video_feed') }}" alt="video feed" class="img-fluid">
          <h1 class="nomobile">Yüzüne En Uygun Gözlüğü Bul</h1>
          <p>
           Kameraya bak yapay zeka desteği ile senin yüzüne en uygun 
           olan gözlüğü bulalım.
          </p>
          <a href="{{ url_for('capture') }}" class="btn btn-white" role="button" alt="take picture">Fotoğraf Çek</a>
        </div>
      </div>
       <!-- video switch -->
       <button class="switch-btn">
        <span>
          Oynat
        </span>
        <span>
          Durdur
        </span>
        <span class="switch"></span>
      </button>
    </header>
    <!--about-->
    <section id="about" class="section">
      <div class="container">
        <div class="title">
          <h2>Hakkımızda </h2>
          <div class="underline"></div>
          <hr class="new5">
        </div>
        <div class="about-center section-center mt-3">
          <article class="about-img">
            <img src="{{url_for('static', filename='vestes_2.png')}}" alt="Resim" />
          </article>
          <article class="about">
            <!-- btn container -->
            <div class="btn-container">
              <button class="tab-btn active" data-id="history">Tarihçemiz</button>
              <button class="tab-btn" data-id="vision">Vizyon</button>
              <button class="tab-btn" data-id="goals">Amacımız</button>
            </div>
            <div class="about-content">
              <!-- single item -->
              <div class="content active" id="history">
                <h4>Tarihçemiz</h4>
                <p style="color: black;">
                Hasret ve arkadaşları 2021 yılında şirketi kurdu.
                </p>
              </div>
              <!-- end of single item -->
              <!-- single item -->
              <div class="content" id="vision">
                <h4>Vizyon</h4>
                <p style="color: black;">
                  Şirketimizin vizyonu ve misyonu tipik Türk mantığı ile aynıdır.
                </p>
                <ul>
                  <li>1.Parayı bulmak</li>
                  <li>2.Ev alıp kiraya vermek</li>
                  <li>3.Avrupaya kaçmak</li>
                </ul>
              </div>
              <!-- end of single item -->
              <!-- single item -->
              <div class="content" id="goals">
                <h4>Amacımız</h4>
                <p style="color: black;">
                  Tüm dünyada ürünümüzün kullanılması.
                </p>
              </div>
              <!-- end of single item -->
            </div>
          </article>
        </div>
    </section>
    <!-- questions -->
    <section id="services" class="section">
      <div class="title">
        <h2>Sıkça Sorulan Sorular </h2>
        <div class="underline"></div>
        <hr class="new5">
      </div>
      <section class="questions">      
        <!-- questions -->
        <div class="section-center">
          <!-- single question -->
          <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>do you accept all major credit cards?</p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span class="minus-icon">
                  <i class="far fa-minus-square"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                dolore illo dolores quia nemo doloribus quaerat, magni numquam
                repellat reprehenderit.
              </p>
            </div>
          </article>
          <!-- end of single question -->
          <!-- single question -->
          <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>do you suppport local farmers?</p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span class="minus-icon">
                  <i class="far fa-minus-square"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                dolore illo dolores quia nemo doloribus quaerat, magni numquam
                repellat reprehenderit.
              </p>
            </div>
          </article>
          <!-- end of single question -->
          <!-- single question -->
          <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>do you use organic ingredients?</p>
              <!-- button -->
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span class="minus-icon">
                  <i class="far fa-minus-square"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                dolore illo dolores quia nemo doloribus quaerat, magni numquam
                repellat reprehenderit.
              </p>
            </div>
          </article>
          <!-- end of single question -->
      </section>
    </section>
    <!-- footer -->
    <footer class="section">
      <p>
        copyright &copy; VestesAI
        <span id="date"></span>. bütün hakları saklıdır.
      </p>
    </footer>   
  <!--   <a class="scroll-link top-link" href="#home">
      <i class="fas fa-arrow-up"></i>
    </a>  --> 
    <!-- javascript -->
    <script src="{{ url_for('static',filename='app.js') }}"></script>
  </body>
</html>
